<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="container">
        <div class="menu container">
            <a href="index.html" class="logo">Menu</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/menu.svg" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="login.html">Registrarse</a></li>
                    <li><a href="registrogastos.html">Mis Gastos</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <div class="container">
        <div class="menu container">
            <label for="menu" class="menu-icon">
                <img src="images/menu.svg" alt="">
            </label>
            <a href="index.html" class="logo">Menu</a>
        </div>

        <div class="form-content">
            
            <h1 id="title">Registro</h1>

            <form>

                <div class="input-group">

                    <div class="input-field" id="nameInput">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Correo">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <p>Olvidaste tu Contraseña? <a href="#">Click Aqui</a></p>

                </div>
                <div class="btn-field">
                    <button id="signUp" type="button">Registro</button>
                    <button id="signIn" type="button" class="disable">login</button>
                </div>

            </form>

        </div>

    </div>
    
    <script src="/controllers/login.js"></script>

</body>
</html>
